# ========================
# DATABASE
# ========================
DB_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

# ========================
# REDIS
# ========================
REDIS_HOST=
REDIS_PORT=

# ========================
# APP
# ========================
APP_PORT=
NODE_ENV=
FRONTEND_URL=

# ========================
# JWT ACCESS TOKEN
# ========================
JWT_SECRET=
JWT_EXPIRES_IN=

# ========================
# JWT REFRESH TOKEN
# ========================
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=

# ========================
# COOKIE CONFIG
# ========================
ACCESS_TOKEN_COOKIE_NAME=
REFRESH_TOKEN_COOKIE_NAME=

# 15 minutes
ACCESS_TOKEN_MAX_AGE=

# 7 jours
REFRESH_TOKEN_MAX_AGE=


# ========================
# MAIL
# ========================

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=

# ========================
# BICTORYS
# ========================

BICTORYS_API_URL=
BICTORYS_API_KEY=
# ========================
# PAYMENT
# ========================

PAYMENT_LINK_EXPIRES_IN=